// Colors
$grey: #333;
$light-grey: #fafafa;
$very-light-grey: #f0f0f0;
$light-grey-border: #eee;
$light-color: #aaa;
$nice-grey: #999;

// Navigation colors
$nav-background: $grey;
$menu-background: $grey;
$nav-text-color: white;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
